:host {
  --skeleton-color-1: var(--color-neutral-200);
  --skeleton-color-2: var(--color-neutral-300);

  display: inline-block;
  background-color: var(--color-neutral-200);
  width: var(--skeleton-width, 100%);
  height: var(--skeleton-height, var(--size-8));
  border-radius: var(--skeleton-radius, var(--radius-base));
  animation: skeleton-pulse 1s ease-in-out infinite;

  @media (prefers-reduced-motion: true) {
    animation: none;
  }

  @keyframes skeleton-pulse {
    0%,
    100% {
      background-color: var(--skeleton-color-1);
    }
    50% {
      background-color: var(--skeleton-color-2);
    }
  }
}

:host-context(.dark) {
  --skeleton-color-1: var(--color-neutral-700);
  --skeleton-color-2: var(--color-neutral-800);
}
