button[mvButton],
a[mvButton],
.mv-button {
  --button-color-background: var(--color-primary);
  --button-color-background-hover: var(--color-primary-hover);
  --button-color-foreground: var(--color-primary-foreground);
  --button-spacing-y: var(--size-2);
  --button-spacing-x: var(--size-4);
  --button-radius: var(--radius-base);
  --button-font-size: var(--font-size-md);
  --button-font-weight: var(--font-weight-medium);
  --button-line-height: var(--line-height-md);

  display: inline-flex;
  align-items: center;
  gap: var(--size-3);

  background-color: var(--button-color-background);
  color: var(--button-color-foreground);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);

  padding: var(--button-spacing-y) var(--button-spacing-x);
  border-radius: var(--button-radius);

  cursor: pointer;

  &:not(:disabled):not([aria-disabled='true']) {
    &:hover {
      background-color: var(--button-color-background-hover);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
