button[mvButton],
a[mvButton],
.mv-button {
  --button-height-md: var(--size-6);
  --button-font-size-md: var(--font-size-base);

  --button-height: var(--button-height-md);
  --button-font-size: var(--button-font-size-md);
  --button-font-weight: var(--font-weight-medium);
  --button-padding-x: calc(var(--button-height) / 2);

  --button-color-background: var(--color-primary);
  --button-color-background-hover: var(--color-primary-hover);
  --button-color-foreground: var(--color-primary-foreground);
  --button-radius: var(--radius-base);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-3);

  background-color: var(--button-color-background);
  color: var(--button-color-foreground);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 1;

  min-height: var(--button-height);
  padding-inline: var(--button-padding-x);
  border-radius: var(--button-radius);

  cursor: pointer;

  &:not(:disabled):not([aria-disabled='true']) {
    &:hover {
      background-color: var(--button-color-background-hover);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &.mv-button-icon {
    aspect-ratio: 1;
    padding-inline: 0;
  }
}
