@use 'breakpoints' as *;

:host {
  display: block;
  overflow: hidden;

  .card {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    padding: var(--size-4);

    border: 1px solid var(--color-border);
    background-color: var(--color-panel);
    border-radius: var(--radius-base);
  }

  .card-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-lg);

    @media (max-width: $breakpoint-md) {
      font-size: var(--font-size-md);
      line-height: var(--line-height-md);
    }
  }

  .card-link:hover {
    text-decoration: underline;
    color: var(--color-primary);
  }

  .card-hostname {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    color: var(--color-muted);
    font-weight: var(--font-weight-medium);
  }

  .card-meta {
    display: flex;
    align-items: center;
    gap: var(--size-2);
    flex-wrap: wrap;
    color: var(--color-muted);
  }
}
