:host {
  display: block;

  .collapsed {
    display: -webkit-box;
    -webkit-line-clamp: var(--read-more-max-lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .toggle {
    color: var(--color-primary);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
