:host {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--size-4);
    gap: var(--size-4);
  }

  .logo {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-semibold);
  }

  .nav {
    display: flex;
    align-items: center;
    gap: var(--size-5);

    .nav-link {
      font-size: var(--font-size-lg);
      line-height: var(--line-height-lg);
      font-weight: var(--font-weight-medium);

      &:hover,
      &.active {
        color: var(--color-primary);
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}
