:host {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);

  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    padding: var(--size-4);
    gap: var(--size-4);
  }

  .logo {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-semibold);
    justify-self: flex-start;
  }

  .theme-toggle {
    text-align: right;
  }

  &.mobile {
    .header {
      grid-template-columns: 1fr auto auto;
    }

    .logo {
      order: 1;
    }

    .theme-toggle {
      order: 2;
    }

    .sidenav-toggle {
      order: 3;
    }
  }
}
