@use './styles/normalize';
@use './styles/variables';
@use './styles/components/button';
@use './styles/components/sidenav';
@use '@phosphor-icons/web/regular';
@use '@angular/cdk/overlay-prebuilt.css';

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
