<div class="list-container" [attr.aria-busy]="isLoading()">
  @if (!isEmpty()) {
    <ul class="list">
      @for (story of stories(); track story.id) {
        <li>
          <mv-story-card [story]="story" />
        </li>
      }

      @if (isLoading()) {
        @for (item of skeletonItems(); track item) {
          <li>
            <mv-skeleton width="100%" height="94px" />
          </li>
        }
      }
    </ul>
  }

  <div aria-live="polite" aria-atomic="true">
    @if (error()) {
      <div class="message error" role="alert">
        <mv-icon name="warning" size="lg" />
        {{ error() }}
      </div>
    } @else if (isEmpty()) {
      <p class="message">
        <mv-icon name="list-magnifying-glass" size="lg" />
        No stories found
      </p>
    } @else if (reachedEnd()) {
      <p class="message">
        <mv-icon name="mask-sad" size="lg" />
        You've reached the end
      </p>
    } @else if (isLoading()) {
      <span class="sr-only">Loading stories</span>
    }
  </div>
</div>

@if (canLoadMore()) {
  <div class="list-bottom">
    <button mvButton mvInfiniteScroll (click)="onLoadMore()" (inView)="onLoadMore()">
      Load More
    </button>
  </div>
}
